#anil3{
    font-family: 'Times New Roman', Times, serif;
 }
 .navbar{
   background-color: rgb(116, 121, 119) ;
   padding: 20px 0px;
 }



 .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: black;
    text-align: center;
 }
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
 .fa:hover {
  opacity: 0.7;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-google {
background: #DD4B39;
color: white;
}
.fa-linkedin {
background: #007BB5;
color: white;
}

.card11{
   height: 13rem;
}

.one111{
   background-color: wheat;
}
#anil3{
   font-family: 'Times New Roman', Times, serif;
   
   margin-right: 575px ;
}

/* #y{
   background-color: darksalmon;
} */