* {
    box-sizing: border-box;
  }
  .navbar{
    background-color: rgb(71, 136, 110) ;
    padding: 20px 0px;
  }
  
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 400px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #anil {
    position: relative;
    left: 0;
    bottom: 0;
    background-color:white;
    color: black;
    text-align:center;
 }
 #anil2{
   text-align: left;
   align-items: baseline;
   font-size: 20px;
 }
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35%;
    background-color: cadetblue;
    color: black;
    text-align: center;
 }
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
 .fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}
#anil3{
   font-family: 'Times New Roman', Times, serif;
   
   margin-right: 575px ;
}
.col{
  color: brown;
}