.container{    
    box-sizing: border-box;    
  }    
      
  input[type=text], select, textarea {    
    width: 100%;    
    padding: 12px;    
    border: 1px solid rgb(70, 68, 68);    
    border-radius: 4px;    
    resize: vertical;    
  }    
  input[type=email], select, textarea {    
    width: 100%;    
    padding: 12px;    
    border: 1px solid rgb(70, 68, 68);    
    border-radius: 4px;    
    resize: vertical;    
  }    
      
  label {    
    padding: 12px 12px 12px 0;    
    display: inline-block;    
  }    
      
  input[type=submit] {    
    background-color: rgb(24, 68, 163);    
    color: white;    
    padding: 12px 20px;    
    border: none;    
    border-radius: 4px;    
    cursor: pointer;    
    float: right;    
  }    
      
  input[type=submit]:hover {    
    background-color: #063470;    
  }    
      
  .container {    
    border-radius: 20px;    
    background-color: #e6e3e3;    
    padding: 20px;    
  }    
      
  .col-25 {    
    float: left;    
    width: 23%;    
    margin-top: 8px;    
  }    
      
  .col-75 {    
    float: left;    
    width: 75%;    
    margin-top: 6px;    
  }    
      
  /* Clear floats after the columns */    
  .row:after {    
    content: "";    
    display: table;    
    clear: both;    
  }   
  .row:after {
      margin-left: 45px;
  }


  #nav1{
    color:#fff;
    font-size: 20px;
  }
  #nav2{
    color:#fff;
    font-size: 20px;
  }
  #nav22{
    color:#fff;
    font-size: 20px;
  }
  #nav3{
    color:#fff;
    font-size: 20px;
  }
  #nav4{
    color:#fff;
    font-size: 20px; 
  }
  .dropdown:hover{
   border:6px solid #0a5b9cbd;
  }
  .dropdown-menu{
    background-color: darkkhaki;
  }
  .dropdown:hover>.dropdown-menu{
    display: block;
  }
  #nav1:hover{
    border:6px solid #0a5b9cbd;
  }
  #nav2:hover{
    border:6px solid #0a5b9cbd;
  }
  #nav3:hover{
    border:6px solid #0a5b9cbd;
  }
  #nav22:hover{
    border:6px solid #0a5b9cbd;
  }
  
  #hh{
    text-align:center ;
    background-color:darkolivegreen;
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: black;
    text-align: center;
 }
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
 .fa:hover {
  opacity: 0.7;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-google {
background: #DD4B39;
color: white;
}
.fa-linkedin {
background: #007BB5;
color: white;
}
#anil3{
  font-family: 'Times New Roman', Times, serif;
 } 