.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: black;
    text-align: center;
 }
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
 .fa:hover {
  opacity: 0.7;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-google {
background: #DD4B39;
color: white;
}
.fa-linkedin {
background: #007BB5;
color: white;
}
#anil3{
  font-family: 'Times New Roman', Times, serif;
 } 